@charset "UTF-8";
/* CSS Document */


.jumbotron {
  background-image: url(../img/jumbo-bg.jpg);
  background-size: cover;
  color: white;
}
.btn-download {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  border-radius: 3px;
}
.btn-download:hover, .btn-download:focus, .btn-download.focus, .btn-download:active, .btn-download.active, .open > .dropdown-toggle.btn-download {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.appscreen {
  width: 100%;
}
footer {
  color: #999;
}
#para p {
  margin-top: 20%;
}
.download {
  width: 100%;
  margin-top: 40px;
  font-size: 2em;
}

@media (max-width: 1200px) {
.appscreen {
  margin-top: 20px;
}
}

@media (max-width: 600px) {
.appscreen {
  width: 100%;
}
.creds {
  text-align: center;
}
img {
  width: 100%;
}
#para p {
  font-size: 18px;
  text-align: left;
}
}
@media (max-width: 959px) {
  .btn-desktop{display:none;}
  }
@media (min-width: 960px) {
#intro {
  margin-top: 15%;
}
.text-center {
  text-align: left;
}
.title.text-center {
  text-align: center;
}
.btn-mobile{display:none;}
.btn-desktop{display:block;}
}
