
<div class="alert" ng-class="{'alert-danger': alert.type=='danger', 'alert-success': alert.type=='success'}" ng-repeat="alert in incidentDescriptionCtrl.alerts">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span>{{alert.msg}}</span>
</div>
<!-- Content Header -->
<section class="content-header">
  <div class="row">
    <div class="col-lg-12">
      <h1><i class="fa fa-exclamation-triangle alert-triangle" ng-class="incidentDescriptionCtrl.incident.severity.warning_level"> </i>{{incidentDescriptionCtrl.incident.name}}</h1>
    </div>
  </div>
</section>

<section class="content-header-sub">
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-sm btn-outline first" ng-click="incidentDescriptionCtrl.editIncident()" ng-disabled="incidentDescriptionCtrl.incident.completed"><i class="fa fa-pencil"></i>Edit</button>
      <button class="btn btn-sm" ng-class="{'btn-outline': !incidentDescriptionCtrl.incident.completed, 'btn-success': incidentDescriptionCtrl.incident.completed}" ng-click="incidentDescriptionCtrl.toggleCompleted()"><i class="fa fa-check"></i>{{ incidentDescriptionCtrl.incident.completed ? 'Mark as unresolved' : 'Mark as resolved'}}</button>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content details">
  <!-- Page Content Here -->
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="col-sm-4">
          <div class="title">S-Level</div>
          <div class="item"><i class="fa fa-exclamation-triangle"> </i>{{incidentDescriptionCtrl.incident.severity.level}}</div>
        </div>
        <div class="col-sm-4">
          <div class="title">Site Code</div>
          <div class="item"><i class="fa fa-map-marker "> </i>{{incidentDescriptionCtrl.incident.site_code.code}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="title">Occured On</div>
          <div class="item"><i class="fa fa-calendar"> </i><span class="list-date">{{incidentDescriptionCtrl.incident.incident_time | date:'MM/dd/yyyy'}}</span><i class="fa fa-clock-o"> </i><span>{{incidentDescriptionCtrl.incident.incident_time | date:'shortTime'}}</span></div>
        </div>
        <div class="col-sm-4">
          <div class="title">Reported On </div>
          <div class="item"><i class="fa fa-calendar"> </i><span class="list-date">{{incidentDescriptionCtrl.incident.reported_time | date:'MM/dd/yyyy'}}</span><i class="fa fa-clock-o"> </i><span>{{incidentDescriptionCtrl.incident.reported_time | date:'shortTime'}}</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" >
          <div class="title">Description</div>
          <div class="description">
            <p>{{incidentDescriptionCtrl.incident.description}}</p>
          </div>
        </div>
      </div>
      <div class="row updates">
        <div class="col-sm-12 text-right">
          <button ng-if="!incidentDescriptionCtrl.showTextArea" class="btn btn-red uppercase" ng-click="incidentDescriptionCtrl.openTextArea()">Add New Update</button>
         <!--<label>Description of Incident</label>-->
         <textarea ng-if="incidentDescriptionCtrl.showTextArea" ng-model="incidentDescriptionCtrl.commentText" class="form-control" rows="6" placeholder="Enter description"></textarea>
       </div>
       <div class="col-sm-12 text-left" >
        <span class ="text-danger" ng-if="incidentDescriptionCtrl.commentText.length > 1000">Please enter in less than 1000 characters</span>
      </div>
       <div class="col-sm-12 text-right" >
        <button ng-if="incidentDescriptionCtrl.showTextArea" ng-click="incidentDescriptionCtrl.addComment()" ng-disabled="incidentDescriptionCtrl.commentText.length > 1000" class="btn btn-red uppercase">Submit</button>
      </div>
      <div class="col-sm-12" >
        <ul class="update-list" ng-if="incidentDescriptionCtrl.incident.comments.length > 0">
          <li class="update row" ng-repeat="comment in incidentDescriptionCtrl.incident.comments | orderBy:'created_time':true">
            <div class="col-lg-1 date-box">
              <div class="update-date"> <span class="day">{{comment.created_time | date:'dd'}}</span><br>
                <span class="month">{{comment.created_time | date:'MMM'}}</span><br>
                <span class="year">{{comment.created_time | date:'yyyy'}}</span> </div>
              </div>
              <div class="col-sm-11">
                <div class="meta">
                  <div class="meta-left left"><span class="time">{{comment.created_time | date:'h:mm a'}}</span></div>
                  <div class="meta-right right"><span class="user">Updated by: {{comment.username || 'anonymous'}}</span></div>
                  <div class="meta-message"></div>
                </div>
                <div class="comment">
                  <p>{{comment.text}}</p>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>

    </div>

  </section>

