$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body > .ng-scope, .hold-transition, .content-wrapper, .content-wrapper .right-side, .content-wrapper > .ng-scope {
	height: 100%;
	position: relative;
}

// Component styles are injected through grunt
// injector
@import 'incidents/create/incident-create.scss';
@import 'incidents/description/incident-description.scss';
@import 'incidents/incidents.scss';
@import 'login/login.scss';
// endinjector