
body{
  background:#EBEEEF;
  }
 .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
 .main-header .navbar-toggle {
  color: #333;
}
 .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #eee;
}
.main-header > .navbar {
    background-color: #293138;
}
 .main-header > .navbar .nav > li > a {
  color: #fff;
}
 .main-header > .navbar .nav > li > a:hover,
 .main-header > .navbar .nav > li > a:active,
 .main-header > .navbar .nav > li > a:focus,
 .main-header > .navbar .nav .open > a,
 .main-header > .navbar .nav .open > a:hover,
 .main-header > .navbar .nav .open > a:focus,
 .main-header > .navbar .nav > .active > a {
  background: #3F4C52;
  color: #fff;
}
 .main-header > .navbar .sidebar-toggle {
  color: #333333;
}
.main-header > .navbar .sidebar-toggle:hover {
    color: #999999;
    background: #3C4750;
}
.main-header > .navbar > .sidebar-toggle {
    color: white;
}
 .main-header > .navbar .navbar-nav > li > a {
  border-right: 1px solid #eee;
}
.main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.main-header > .navbar .navbar-right > li > a {
    border-left: 1px solid #404C56;
    border-right-width: 0;
}

@media (max-width: 767px) {
   .main-header > .logo {
    background-color: #1e252a;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
   .main-header > .logo:hover {
    background-color: #1f1f1f;
  }
}
 .main-header li.user-header {
  background-color: #222;
}
 .content-header {
  box-shadow: none;
 /* border-bottom: solid thin rgba(0,0,0,0.1);*/
}

 .main-sidebar,
 .left-side {
  background-color: #f2f2f2;
}
 .content-wrapper,
 .main-footer {
  /* border-left: 1px solid #d2d6de; */
}
 .user-panel > .info,
 .user-panel > .info > a {
  color: #444444;
}
 .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
 .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}

 .sidebar-menu > li:hover > a,
 .sidebar-menu > li.active > a {
  color: #000000;
  background: #E9EDEF;
}
 .sidebar-menu > li.active {
  border-left-color: #ffffff;
}
 .sidebar-menu > li.active > a {
  font-weight: 600;
}
 .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
 .sidebar a {
  color: #444444;
}
 .sidebar a:hover {
  text-decoration: none;
}
 .treeview-menu > li > a {
  color: #777777;
}
 .treeview-menu > li.active > a,
 .treeview-menu > li > a:hover {
  color: #000000;
}
 .treeview-menu > li.active > a {
  font-weight: 600;
}
 .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
 .sidebar-form input[type="text"],
 .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
 .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
 .sidebar-form input[type="text"]:focus,
 .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
 .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
 .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
