
<div class="hold-transition skin-black-light sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index.html" class="logo">
    <!-- mini logo -->
    <span class="logo-mini"><strong>OIT</strong></span>
    <!-- logo -->
    <span class="logo-lg">TSA<strong>OIT</strong></span> </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" ng-click="incidentsCtrl.goToCreateIncident()" role="button"> <i class="fa fa-plus"></i><span>Create Incident</span> </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <i class="fa fa-user"></i>
            <span class="hidden-xs">{{incidentsCtrl.username}}</span> </a>
            <ul class="dropdown-menu">
              <!--
             <li class="user-header">
               <i class="fa fa-user"></i>
             </li>
             -->
              <li><a href="#" class="">Profile</a></li>
              <li><a href="#" class="">Sign out</a></li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--<li> <a href="#" data-toggle="control-sidebar"><i class="fa fa-history"></i></a> </li>-->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Critical incident list -->
      <ul class="sidebar-menu ci-list">
        <li class="incident" ng-repeat="incident in incidentsCtrl.incidents"> <a href="#" ng-click="incidentsCtrl.openIncident(incident)">
          <div class="row">
            <div class="col-sm-2"><i class="fa fa-exclamation-triangle alert-triangle" ng-class="incident.severity.warning_level"></i></div>
            <div class="col-sm-10 last">
              <div class="title">{{incident.name}}</div>
              <div class="date"><i class="fa fa-calendar"></i><span>{{incident.reported_time | date:'MM / dd / yyyy'}}</span></div>
              <div class="sitecode"><i class="fa fa-map-marker"></i>Site Code: {{incident.site_code.code}}</div>
            </div>
          </div>
          </a> </li>
      </ul>
      <!-- /sidebar-menu -->
    </section>
    <!-- /sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">



    <div ui-view=""></div>


    <!-- /content -->
  </div>
  <!-- /content-wrapper -->
</div>


</div>


