/*
 * Login 
 * ----------------------
 */
.incident-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}


.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  color:#fff;
}
.login-logo b{
  color: #99282D;
}
.login-page{
  background: #1e252a;
}
.login-box {
    width: 360px;
    margin: 0 auto;
    top: 30%;
    position: relative;
}
@media (max-width: 768px) {
  .login-box{
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body{
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback{
  color: #777;
  margin-top: -25px;
}
.login-box-msg{
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}