<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
   TSA<b>OIT</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

    <form name="loginForm">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="loginCtrl.username" name="username" id="username" placeholder="User">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="loginCtrl.password" name="password" id="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <div class="col-xs-12 text-center">
          <button ng-click="loginCtrl.login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>

      </div>
    </form>
  </div>
</div>
</div>
