<section class="content-header">
  <div class="row">
    <div class="col-lg-12">
      <h1> Report New Incident </h1>
    </div>
  </div>
</section>

<section class="content"> 
  <!-- Page Content Here -->
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="form-group col-sm-12">
          <label>Incident Type</label>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-grey dropdown-toggle" data-toggle="dropdown">{{incidentCreateCtrl.incident.incident_type.description || 'Please Select'}}<span class="fa fa-caret-down"></span> </button>
              <ul class="dropdown-menu user-menu incident-menu">
                <li ng-repeat="type in incidentCreateCtrl.incidentTypes" ng-click="incidentCreateCtrl.updateIncidentType(type)"><a href="#">{{type.description}}</a></li>
                <li class="divider"></li>
                <li>
                  <div class="custom-incident"> 
                  <div>Custom Incident Type</div>
                    <input type="text" ng-model="incidentCreateCtrl.incidentTypeText" class="form-control incidentCreate" >
                    <button class="btn btn-red uppercase" ng-click="incidentCreateCtrl.createIncidentType()"><a href="#">Create</a></button>
                  </div>
                </li>

              </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" ng-model="incidentCreateCtrl.incident.name" class="form-control" placeholder="Incident Title">
          </div>
        </div></div>
        <div class="row">      <div class="form-group col-sm-3">
          <label>S-Level</label>
          <div class="input-group">
            <select ng-model="incidentCreateCtrl.incident.severity" class="form-control" ng-options="severity.level for severity in incidentCreateCtrl.severities">
              <option value="">Please Select</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label>Site Code</label>
          <div class="input-group"> <!-- <span class="input-group-addon"><i class="fa fa-map-marker"></i></span> -->
            <select ng-model="incidentCreateCtrl.incident.site_code" class="form-control" ng-options="codeObj.code for codeObj in incidentCreateCtrl.siteCodes">
              <option value="">Please Select</option>
            </select>
            <!-- Was originally a text box. -->
            <!-- <input type="text" class="form-control pull-right" id="sitecode"> -->
          </div>


        </div>
        <div class="form-group col-sm-4">
          <label>Date and time of incident:</label>
          
          <date-picker incident="incidentCreateCtrl.incident"></date-picker>
          <!-- /input group --> 
        </div>
      </div>
      
      
      
      
      
      <div class="row">
        <div class="form-group col-sm-12" >
          <label>Description of Incident</label>
          <textarea class="form-control" ng-model="incidentCreateCtrl.incident.description" rows="6" placeholder="Enter description"></textarea>
        </div>
      </div>

      <div ng-messages="incidentCreateCtrl.invalid" class="text-danger">
            <div ng-message="incident_type">Please Select a Valid Incident Type</div>
            <div ng-message="name">Please enter a title for the incident</div>
            <div ng-message="site_code">Please Select a Valid Site Code</div>
            <div ng-message="severity">Please Select a Valid Severity Level</div>
            <div ng-message="incident_time">Please Select the time that the incident occurred</div>
            <div ng-message="description">Please enter a description of the incident</div>
      </div>
      
      <div class="row updates">
       <div class="col-sm-12  text-right">
        <button class="btn btn-red uppercase" ng-click="incidentCreateCtrl.reportIncident()"><a href="#">Report Incident</a></button>
      </div>
    </div>
    

    <!--<div class="col-sm-4"></div>-->
  </div>
</div>

</section>